 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 ul{
    list-style-type: none;
 }
.navbar {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(206, 199, 192);
    color: rgb(88, 82, 82);
    align-items: center;
}
.navbar_list_item {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.list_item_product{
    display: flex;
    align-items: center;
    gap: 10px;
}
.list_item_user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search{
    position: relative;
}
.icon{
    position: absolute;
    right: 0;
    top: 0;
}
.material-symbols-outlined{
    color: grey;
}
input{
    height: 30px;
}
.search input[type=text]{
    padding-right: 20px;
}